*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
  background-color: var(--bg-grey);
  display: flex;
  flex-direction: column;
}
:root {
  --dark-font: rgb(9, 9, 9);
  --plain-white: #ffffff;
  --bg-grey: #efefef;
  --light-grey: #f8f9fa;
  --semi-dark: rgb(61, 61, 61);
  --header-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
  --primary-blue: rgb(59, 73, 223);
  --hover-blue: rgba(59, 73, 223, 0.2);
}
.hover-blue {
  cursor: pointer;
  text-align: center;
  padding: 5px;
  width: 40px;
  border-radius: 8px;
  transition: 150ms;
}
.hover-blue:hover {
  background-color: var(--hover-blue);
  color: var(--primary-blue);
}
.container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1.6fr 1.2fr;
}

@media screen and (max-width: 1100px) {
  :root {
    font-size: 12px;
  }
  .container {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
}
